<h1>Species#index</h1>
<h3>Welcome to the home page</h3>


<form action="/species/create" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Animal name" autofocus required/>
  <input type="submit" value="Save" />
</form>

#need to place the information from the database right below in order to show that as the ranger you can show all the species in database
